@import url(./fonts.css);


@media screen and (min-width: 0px) and (max-width: 430px) {

    /* root{

} */

    * {
        box-sizing: border-box;
    }


    html {
        width: 100vw;

    }

    body {
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        /* flex-direction: column;
        align-items: center;
        justify-content: center; */

        width: 100%;
        
        font-size: 3vw;
        font-family: "Raleway", "Roboto", sans-serif;

        color: #464646;


        /* background-color: rgb(255, 255, 255); */
        /* background-color: yellow; */


    }


    figcaption {
        display: none;
    }

    .nome-logos {
        display: none;
    }

    /* .menor {
        width: 100%;
    } */

    ul {
        display: flex;
        flex-direction: column;


        font-size: 1rem;
    }

    .bulb-logo {
        margin: 0 0.2rem 0 0;

        font-size: 1.5rem;

    }

    /*  ------------------    End - Secção Header - End  ------------------ */



    /*  ------------------    Start - Secção Header - Start  ------------------ */

    .header_field {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;


        margin-bottom: 16px;

        padding: 0px 5% 0 5%;

        width: 100%;
        height: auto;


        color: #F5F5F5;
        background-color: #003459;

    }

    .header_field>a {
        display: flex;
        flex-direction: row;

        margin: 13px 0 10px 0;

        font-size: 1.5rem;
        font-weight: 800;
        text-transform: capitalize;

    }

    .logo-gabriel_miguel {
        margin-bottom: 0px;
        padding: 0;

        background-color: #464646;

    }

    figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


    }

    .off-screen-menu{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;

        padding-top: 2.9rem; 
        
        height: auto;
        width: 100%;

        /* text-align: center; */
        /* justify-content: center; */

        position: fixed;
        top: -60vh;
        right: 0%;
        
        background-color: #00171F;

        border-radius: 0px 0px 20px 20px;

        transition: .5s ease;
        z-index: 99;
    }

    .off-screen-menu.active{
        top: 0%;

    }

    .menu-logos {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 13px;

        /* background-color: forestgreen; */

    }

    .nav_field {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* align-self: end; */

        margin-bottom: 10px;

        height: auto;

        /* background-color: red; */

    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;




        width: auto;



        /* background-color: sandybrown; */

    }

    .nav-items {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: start;
        justify-content: center;

        white-space: wrap;
        font-size: 1.2rem;

    }

    .nav-items>a {

        margin: 0 0 5px 0 ;
        /* margin-right: 1.2rem; */

        /* background-color: purple; */

    }

    /* .nav-items > a:last-child{
        margin: 0;
    } */


    .nav-items .items {
        text-transform: capitalize;


    }

    .nav-items .items:hover {

        font-size:inherit;
        font-weight: 500;

        /* color: #E0E1DD; */
        color: #778DA9;

    }

    .nav-items a:last-child .items {

        text-transform: none;
        font-weight: 900;

    }

    .nav-items a:last-child .items:hover {

        font-size: inherit;
        font-weight: 900;

        /* color: #E0E1DD; */
        color: #778DA9;

    }

    .lista-logos {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        /* width: 86px; */

        /* padding: 0;
    margin-left: 0px;
    margin-right: 0px;  */

        /* background-color: rgb(43, 226, 61); */

    }

    .ham-social-media{
        padding-bottom: 20px;

    }

    .lista-logos>li {
        display: inline-block;
        flex-direction: row;
        /* justify-content: space-around;
        align-items: center; */


        /* background-color: rgba(172, 255, 47, 0.242); */

        /* height: auto; */
        /* width: 100%; */


        margin: 0px;
        text-align: center;
        /* vertical-align: center; */

    }

    .lista-logos>li:first-child {
        margin-right: 0.50rem;
        /* background-color: darkgoldenrod; */

    }

    .logos-H_and_F {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        /* background-color: firebrick; */

        font-size: 2.0rem;

        /* vertical-align: center; */


    }

    .logos-H_and_F:hover {
        /* color: #E0E1DD; */
        color: #778DA9;


    }

    .hamburguer-menu{
        font-size: 2.5rem;

        z-index: 99;

        /* background-color: sandybrown; */
    }

    /*  ------------------    End - Secção Header - End  ------------------ */


    /*  ------------------    Start - Secção Information - Start  ------------------ */

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        /* margin-left: 20px;
        margin-right: 20px;   */

        margin: 0;
        padding: 0 0 0 0;

        width: 100%;
        /*Se eu colocar 100% ou 100vw o site quebra.*/

        color: inherit;

        /* background-color: olivedrab; */

    }

    #basic_inforrmation {
        display: flex;
        flex-direction: column;
        justify-content: center; /*Vertical align*/
        align-items: center;

        /* display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr;
        grid-template-areas: 'informacoes imagem';
        gap: 0 6px; */


        /* margin-top: 50px; */
        margin-bottom: 26px;

        /* padding: 0px 5% 0 5%; */

        width: 90%;
        /* height: 5000px; */

        /* background-color: goldenrod; */


    }

    /* #seccao-sobre > div:first-child{
    background-color: green;
} */

    #basic_inforrmation>div:last-child {
        margin-right: 2em;
        /* background-color: purple; */
    }

    .seccao-imagem {
        width: 100%;
        /* height: 100%; */
        /* grid-area: imagem; */

        /* background-color: purple; */

    }
    figure{
        /* display: block; */

        width: 100%;

        /* background-color: seagreen; */
    }

    .img-perfil {

        margin-bottom: 20px;
        width: 100%;

        border-radius: 50%;

    }

    .informacoes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        /* grid-area: informacoes; */

        width: 100%;
        /* background-color: peru; */

    }

    .bloco-saudacao {


        margin: 0 0 13px 0;

        font-size: 1.50rem;
        text-align: center;

        /* background-color: cadetblue; */

    }

    .saudacao {


        line-height: 2.1rem;
        text-align: inherit;
        font-weight: bold;

        /* background-color: tomato; */


    }

    .saudacao .nome {

        padding-bottom: 3.3px;

        border-bottom: 2px solid #2443bd;


    }

    .informacoes>.descricao {

        /* margin-top: 35px; */
        /* margin-bottom: 35px; */
        margin: 0 0 23px 0;

        font-size: 1.3rem;
        line-height: none;
        text-align: center;

        /* background-color: skyblue; */

    }

    .btns {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-items: center;

        width: 100%;

        font-size:1.5rem;
        font-weight: 900;
        font-family: inherit;

        /* background-color: indigo; */

    }

    .btns>a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        margin: 0 0 5px 0;

        width: 100%;
        height: 40px;

        font-weight: 500;
        font-size: inherit;
        /* vertical-align:middle; */

        /* background-color: rgb(177, 217, 137); */

        border: 1px solid #2443bd;

        border-radius: 20px;

    }

    .btns>a:hover {
        cursor: pointer;

        font-weight: 700;

        color: #F5F5F5;

        background-color: #2443bd;
    }

    .btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 0 0 0 0;

        padding: 0;

        font-size: inherit;
        font-family: inherit;
        text-transform: normal;

        /* background-color: forestgreen; */

        border: none;


    }



    /* .btn:visited{
        
    } */

    .btns .open-outline_icon {
        /* display: inline-flex; */

        margin: 0 0 0 0.2rem;

        padding: 0;

        /* width: auto;
        height: auto; */

        font-size: 1.1rem;
        --ionicon-stroke-width: 54px;
        /* background-color: red; */

    }


    /*  ------------------    End - Secção Information - End  ------------------ */




    /*  ------------------    Start - About-me - Start  ------------------ */
    .sobre_mim {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;

        margin: 0 0 36px 0;

        padding: 80px 5% 80px 5%;

        color: #d9d9d9;

        background-color: #003459;
    }


    .aboutMeTitle {

        margin-bottom: 23px;

        font-size: 1.7rem;
        font-weight: 700;
        text-transform: capitalize;
    }

    .aboutMeParagraph {


        margin-bottom: 23px;

        width: 100%;

        font-size: 1.3rem;

    }

    /*  ------------------    End - Secção About-me - End  ------------------ */



    /*  ------------------    Start - Secção Skills - Start  ------------------ */

    .skills {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        /* 
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto; */

        margin: 0 0 36px 0;

        padding: 0 5% 0 5%;

        width: 100%;
        height: auto;

        color: #464646;

        /* background-color: salmon; */

    }


    .skillsTitle {

        margin-bottom: 26px;

        padding: 0;

        font-weight: 700;
        font-size: 1.7rem;
        text-transform: capitalize;

    }

    .skillsField {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
        justify-content: start;
        


        width: 100%;
        /* height: 300px; */
        height: 50vw;

        overflow-x: hidden;

        /* background-color: rgb(173, 62, 10); */

    }

    .skillsField::-webkit-scrollbar{
        display: none;

    }

    .skillsGroup{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        padding-right: 1rem;

        /* background-color: chartreuse; */

        animation: spin 13s infinite linear;

    }

    .skill {
        /* display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: end; */

        /* margin: 0 0.5% 0 0.5%; */

        padding: 0 0 1em 1em;
  
        width: 50vw;
        height: 100%;

        text-align: start;
        align-content: end;
        text-wrap: wrap;
        word-wrap: break-word;
        word-break: break-all;

        background-color: #ffffff;
        border-radius: 10px;

    }

    .skill i {
        
        /* margin-bottom: 10px; */
        
        font-size: 3.0rem;

        color: #2A7AE4;

        /* background-color: cadetblue; */

    }

    .skill h3 {
        margin-top: 1rem;

        font-size: 1.5rem;
        font-weight: bold;
        text-transform: capitalize;

        /* background-color: sandybrown; */

    }

    .skill p {
        display: none;
        font-size: 0.9rem;

    }

    /*  ------------------    End - Secção Skills - End  ------------------ */


    /*  ------------------    Start - Secção Hobbies - Start  ------------------ */

    .hobbies {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        /* 
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto; */

        margin: 0 0 36px 0;

        padding: 0 5% 0 5%;

        width: 100vw;
        height: auto;

        color: #464646;

        /* background-color: salmon; */

    }


    .hobbiesTitle {

        margin-bottom: 26px;

        padding: 0;

        font-weight: 700;
        font-size: 1.7rem;
        text-transform: capitalize;

    }

    .hobbiesFields {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
        justify-content: start;
        /* display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 5px ; */
        

        width: 100%;
        height:26vh;
        /* height: auto; */

        overflow-x: hidden;

        /* background-color: rgb(173, 62, 10); */


    }

    .hobbiesFields::-webkit-scrollbar{
        display: none;

    }



    .hobbiesGroup{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        padding-right: 1rem;

        /* width: 500%; */

        /* border: 5px solid green; */

        animation: spin 15s infinite linear;

    }

    .hobby {
        /* display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center; */



        /* margin: 0 0.5% 0 0.5%; */

        padding: 0 0 1em 1em;

        width: 55vw;
        height: 100%;

        align-content:flex-end;
        text-align: left;
        text-wrap: wrap;
        word-wrap: break-word;

        background-color: #ffffff;

        /* border: 5px solid blue; */
        border-radius: 10px;

        overflow-x: hidden;

    }

    /* .hobby:first-child {
        margin-left: 0;
    }

    .bobby:last-child {
        margin-right: 0;
    } */

    .hobbies i {
        font-size: 1.4rem;

        margin-bottom: 10px;
        margin-left: 10px;

        color: #2A7AE4;

        /* background-color: cadetblue; */

    }

    .hobbies h3 {

        /* margin-bottom: 10px;
        margin-left: 10px; */

        font-size: 1.5rem;
        font-weight: bold;
        text-transform: capitalize;

        /* background-color: sandybrown; */

    }

    .hobbies p {
        display: none;
        font-size: 0.85rem;

    }

    /*  ------------------    End - Secção Hobbies - End  ------------------ */


    /*  ------------------    Start - Secção Education - Start  ------------------ */
    .education {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: start;
        /* 
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto; */

        margin: 0 0 36px 0;

        padding: 80px 5% 80px 5%;

        width: 100%;
        height: auto;

        color: #fff;

        background-color: #003459;

    }

    .educationTitle {

        margin-bottom: 26px;

        padding: 0;

        font-weight: 700;
        font-size: 1.7rem;
        text-transform: capitalize;

    }
    
    .educationField{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
        justify-content:start;
        
    
        width: 100%;
        height: 320px;
    
        overflow-x:hidden;
    
        /* background-color: slateblue; */
    
        /* border: 5px solid seagreen; */
    
        box-sizing: content-box;
        
    }
    
    .educationField::-webkit-scrollbar{
        display: none;
    
    }
    
    .featureGroup{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap:1em;
        /* position: relative; */
    
        padding-right: 1rem;
    
        /* width: 100%; */
        /* height: 100%; */
    
        /* background-color: darkred; */
    
        /* border: 2px solid rgb(242, 240, 86); */
    
        /* box-sizing: content-box; */
        /* overflow: hidden; */
    
        animation: spin 19s infinite linear;
    
    }

    
    .feature{
        display: flex;
        flex-direction: column;
        justify-content: start;
        /* flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 200px;  */
        
        padding: 1em;
        
        width: 320px;
        height: 100%;
        /* max-width: 300px; */
        
        /* align-content: center; */
        text-align: center;
        text-wrap: wrap;
        word-wrap: break-word;
        
        /* background-color: #ffffff; */
        
        /* border: 2px solid greenyellow; */
        
        overflow:hidden;
        
    }
    
    .feature img {

        margin-bottom: 5px;

        width: 100%;

        border-radius: 10px;


        /* object-fit: contain; */

    }
/* 
    .education i {
        font-size: 1.6rem;

        margin-bottom: 10px;
        margin-left: 10px;

        color: #2A7AE4;



    } */

    .education h3 {


        /* margin-left: 5px; */
        margin-bottom: 5px;

        font-size: 1.5rem;
        /* font-size: 70%; */
        font-weight: bold;
        text-transform: initial;
        /* text-wrap: wrap;
        word-wrap: break-word; */

        /* background-color: sandybrown; */
        
        object-fit:contain;

    }

    .education p {
        /* display: inline-block; */

        /* margin-left: 5px; */

        font-size: 1.3rem;
        /* font-size: 65%; */
        /* text-wrap: wrap; */
    }




    /* Adding a carousel to display in loop the education cards  */









    /*  ------------------    End - Secção Education - End  ------------------ */


    /*  ------------------    Start - Secção project - Start  ------------------ */
    .projectField {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: space-between;





        margin-bottom: 66px;

        padding: 0 10% 0 10%;

        width: 100%;

        /* background-color: crimson; */

    }

    .projectTitle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        /* width: 100%; */

        padding-top: 0;
        margin-bottom: 6px;

        /* background-color: red; */

    }

    .projectTitle>h2 {
        margin-bottom: 26px;

        padding: 0;

        font-weight: 700;
        font-size: 1.7rem;
        text-transform: capitalize;

    }

    .contact-me {

        margin: 0;

        padding: 0 0 0.3rem 0;

        font-size: 1.0rem;
        text-transform: normal;
        /* line-height: 15px; */


        border-bottom: 2px solid rgb(36, 67, 189);
        /* border-radius: 10px; */
    }


    .projects {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;

        /* background-color: darkorange; */

    }

    .project {
        /* display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between; */

        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
        gap: 0px 10px;


        /* margin: 5px 5px 0 5px; */
        /* margin: 0 0 23px 0; */

        width: 90%;
        height: auto;

        /* background-color: paleturquoise; */

    }


    .project > figure {
        flex-grow: 1;

        margin-right: 6.6%;

        width: 100%;

        /* background-color: mediumorchid; */

    }

    .projectImage {
        width: 100%;
        height: 95%;

        border-radius: 20px;
    }

    .projectDescription {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        flex-grow: 2;

        /* background-color: mediumvioletred; */
    }

    .descriptionTitle {
        margin-bottom: 6px;

        font-size: 1.2rem;
        font-weight: 700;
        text-transform: normal;


    }

    .descriptionSpec {

        margin-bottom: 6px;

        font-size: 0.9rem;
        font-weight: 600;


    }

    .projectTechnologies {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        margin-bottom: 6px;

        width: auto;
    }


    .projectTechnologies>p {

        margin: 0 6px 0 0;

        font-size: 0.75rem;
        font-weight: 600;
        text-transform: normal;


    }

    .projectLinks {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: space-between;

        margin-bottom: 0;

        width: 90%;

        /* background-color: red; */

    }

    .projectLinks>a {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;

        margin: 0 13px 0 0;
        padding: 5px 10%;

        width: 100%;

        font-size: 0.8rem;
        font-weight: 500;
        text-transform: capitalize;
        white-space: nowrap;

        color: #003459;

        border: 2px solid #003459;
        border-radius: 6px;

    }

    .projectLinks>a:last-child {

        width: 100%;

        color: #f5f5f5;

        background-color: #003459;

    }

    .projectLinks p {


        width: 100%;

        /* background-color: chartreuse; */
    }

    /*  ------------------    End - Secção Project - End  ------------------ */


    /*  ------------------    Start - Secção Footer - Start  ------------------ */

    .footer_field {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;



        /* margin-right: 20px;  */

        padding: 53px 10% 53px 10%;

        width: 100%;

        color: #f5f5f5;

        background-color: #00171F;

    }

    #formulario {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin: 0 0 36px 0;

        /* padding: 0 126px 73px 126px; */

        width: 100%;

        /* background-color: lawngreen; */
    }

    #formulario>legend {
        margin-bottom: 26px;

        padding: 0;

        font-weight: 700;
        font-size: 1.7rem;
        text-transform: capitalize;
    }

    #formulario>p {

        font-size: 1rem;
        line-height: 30px;
        text-align: center;

    }

    .input {
        display: inline-block;

        font-size: 16px;

        margin-top: 23px;
        padding-left: 0px;

        width: 100%;
        height: 50px;

        color: white;

        background-color: #00000000;
        border: none;
        border-bottom: 2px solid white;

    }

    /* input:first-child{
    marging-top: 0;
} */

    textarea {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: end;


        font-size: 16px;

        margin-top: 29px;
        margin-bottom: 39px;

        /* padding-right: -30px; */


        width: 100%;
        height: 90px;

        color: white;

        background-color: #00000000;
        border: none;
        border-bottom: 2px solid white;

    }

    .formulario-btn {
        align-self: end;


        color: white;


        position: relative;
        /* left: 22%; */

        font-size: .9rem;
        font-weight: 550;
        text-align: center;

        width: 165px;

        padding-bottom: 0.3rem;

        background-color: #dd777700;
        border: none;
        border-bottom: 2px solid #2A7AE4;

    }

    .footer_info {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: start;

        margin: 0px 0px 0px 0;

        width: 100%;

        /* background-color: wheat; */

    }

    .info_menu {

        margin: 0px 30px 33px 0px;

        font-size: 2rem;

        /* background-color: seagreen; */

    }

    .infoTitle {

        margin-bottom: 9px;

        font-size: 1.1rem;

    }

    .footer_list {

        font-size: 0.8rem;

    }

    .footer_list>.nav_item {
        margin-bottom: 5px;

    }

    /* .footer_contact{


        background-color: nome;

    } */

    .info_title {

        margin-bottom: 9px;

        font-size: 1.1rem;

    }

    .contact_info {

        font-size: 0.8rem;

    }

    .contact_info>p {
        margin-bottom: 5px;

    }


    .footerLogos {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;

        margin: 0px 0px 36px 0;

        padding-top: 26px;

        width: 100%;

        /* background-color: chartreuse; */

        border-top: 2px solid
    }

    .footer_field>.footerLogos a {
        display: flex;


        font-size: 1.1rem;
        font-weight: 800;
        text-transform: capitalize;

    }

    /* .bulb-logo{
        margin: 0 0.2rem 0 0;

        font-size: 1.0rem;

    } */

    .logo-principal {


        margin-bottom: 29px;


        /* background-color: thistle; */

    }


    .footer-links {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;

        margin-bottom: 33px;

        width: 86px;

        /* background-color: blue; */
    }

    /* .footer-links a{
    padding-right: 20px;
}

.footer-links a:last-child{
    padding-right: 0;
} */

    .copyright {

        font-size: .9rem;

    }

    .copyright .logo-abrigue {

        font-family: "cute font";
        font-weight: bold;
        text-transform: uppercase;
        vertical-align: super;
    }











}